/* .filters-container {
    max-width: 1280px;
    color: black;
    margin: 20px auto 40px auto;
    font-family: sans-serif;
    padding: 4px;
} */
/* 
.filters {
    display: flex;
    justify-content: space-evenly;
} */

/* .dropdown-filter {
    background: #eee;
    border-radius: 20px;
    width: 10rem;
    justify-content: center;
} */
/* 
.dropdown-filter:hover {
    background: #ddd;
} */

/* button {
    text-decoration: none;
    background: transparent;
    border-style: none;
    padding: 8px 20px;
    width: 100%;
} */

/* .filter {
    width: inherit;
    padding: 12px 8px;
    position: absolute;
    background: #ddd;
    border-radius: 20px;
    margin-top: 10px;
}

.filter>a {
    text-decoration: none;
    color: black;
} */

/* .filter>a:hover {
    color: red;
}

.currentCategory {
    color: green;
}

.filter-select {
    display:block;
} */

/* --------------- search bar --------------- */

/* .search-bar {
    border: 1px solid #777;
    width: 25rem;
    justify-content: center;
} */

/* .search-bar:hover {
    background: #eee;
} */

/* .search-bar form {
    height: 100%;
} */

/* .search-bar input {
    text-decoration: none;
    border-style: none;
    background: transparent;
    border: 0;
    height: 100%;
    width: 100%;
    padding-left: 16px
} */

/* ---------------- body ----------------- */

/* body .main-container {
    max-width: 1280px;
    width: 85vw;
    color: black;
    margin: 50px auto;
    font-family: sans-serif;
    border: 2px solid #ddd;
    border-radius: 20px;
    padding: 10px;
} */

/* .main-container a {
    text-decoration: none;
    color: black;
}

.main-container a:hover {
    color: green;
} */

/* article {
    height: 220px;
    display: grid;
    grid-template-columns: 25vw 15vw auto;
    margin: 10px;
} */

/* .ad-picture {
    height: auto;
    max-width: 500px;
    min-width: 310px;
    overflow: hidden;
} */
/* 
.ad-picture img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
} */

/* .ad-title {
    padding-bottom: 10px;
} */

/* .ad-title h1 {
    font-size: 1.5rem;
} */

/* .ad-title a {
    font-size: 1.5rem;
} */

/* .ad-info {
    padding-left: 2vw;
    border-right: 0;
} */

/* .ad-description {
    padding-left: 2vw;
    line-height: 25px;
    border: 4px solid white;
    border-left: 0;
}

.ad-category {
    border: 2px solid #ddd;
    padding: 6px 8px;
    border-radius: 20px;
}

.ad-description a {
    color: #aaa;
}

.ad-author {
    color: #777
} */

/* --------------- pagination ---------------- */

/* 
.pagination nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.pagination nav>div:first-child {
    display: none;
}

.pagination nav>:nth-child(2) {
    display: flex;
    width: 100%;
}

.pagination nav>:nth-child(2) div:first-child p {
    margin: auto;
}

.pagination nav>:nth-child(2) div:nth-child(2) span span {
    color: #ddd;
}

.pagination div {
    display: flex;
    justify-content: space-between;
}

.pagination div>span {
    display: inline-flex;
    align-items: center;
}

.pagination svg {
    height: 20px;
}
 */


/* --------------- nav bottom ---------------- */


/* .nav-bottom {
    max-width: 1280px;
    color: black;
    margin: 50px auto;
    font-family: sans-serif;
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
} */

/* .nav-bottom a {
    text-decoration: none;
    color: black;
}

.nav-bottom a:hover {
    color: green;
}

.nav-icons {
    font-size: 1.15rem;
}

.ad-author {
    color: #777
}

/* add post page */
.add_post_form{
    display:flex;
    position: relative;
    justify-content: center;
    margin-top: 2vw;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 60vw;
    background-color: #F9F9F9;
    border-radius: 10px 10px 10px 10px;
}

.add_post_form label{
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-top:1vw;
    width: 90%;
}

.add_post_form input{
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    margin-top:0.2vw;
    border: solid 1px black;
    border-radius: 5px 5px 5px 5px;
}

/* .nav-icons {
    font-size: 1.15rem;
} */ */

.description{
    height: 20vw;
}

.add_post_form .button-addPost{
    display: flex;
    position: relative;
    margin-top: 2vw;
    background-color: rgb(59, 163, 38);
    background-repeat: no-repeat;
    color: #fff;
    border: none;
    border-radius: 5px;
    align-items: center;
    height: 2vw;
    width: 50%;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    cursor: pointer;
}

